/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.description-wrap {
  white-space: normal;
}

.password-cards-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.password-card {
  width: 100%;
  border: 1px solid rgb(0 0 0 / 12%);
  border-radius: 4px;
  padding: 1.5rem;
  box-sizing: border-box;

  &.selected {
    border-color: currentcolor;
    border-width: 2px;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  .card-heading {
    font-weight: 500;
    font-size: 1rem;
  }

  .card-description {
    padding-left: 0;

    .description-wrap {
      white-space: normal;
      display: block;
      line-height: 1.5;
    }
  }
}
