/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

table {
  width: 100%;

  .select-row:hover {
    cursor: pointer;
  }

  .self-service-indicator {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 0.5rem;
    vertical-align: middle;
    box-sizing: border-box;
  }

  .self-service-true {
    background-color: #43a047;
    border: 1px solid #388e3c;
  }

  .self-service-false {
    background-color: #e53935;
    border: 1px solid #b71c1c;
  }
}
